body {
  margin: 0; }

a {
  text-decoration: none;
  outline: none;
  outline-style: none; }

a:hover {
  text-decoration: none;
  outline: none;
  outline-style: none; }

a:focus {
  text-decoration: none;
  outline: none;
  outline-style: none; }

a:visited {
  text-decoration: none;
  outline: none;
  outline-style: none; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

input, textarea {
  text-decoration: none;
  outline: none;
  outline-style: none;
  border: none; }

button {
  background-color: transparent;
  outline-style: none;
  border: none; }

button:hover {
  background-color: transparent;
  outline-style: none; }

button:focus {
  background-color: transparent;
  outline-style: none; }

.parallax-container {
  height: 100vh;
  width: 100%; }

.row, .row [class*='col-'] {
  height: 100%; }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

[class*='col-'] {
  height: auto !important; }

.clearfix {
  display: block;
  content: "";
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

p {
  font-family: 'Kaushan';
  font-size: 18px; }

/*==========  Slick-slider  ==========*/
.slick-slide {
  outline: none !important; }

.slider-nav {
  width: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .slider-nav i {
    font-size: 40px;
    margin: 10px;
    color: #000;
    opacity: .75; }

/*==========  Header  ==========*/
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #222;
  background-image: url("https://media.giphy.com/media/852FlWIqjq7bq/giphy.gif");
  background-attachment: fixed;
  background-position: -40px 70px; }
  header .review {
    padding: 15px;
    -webkit-border-radius: 8px;
            border-radius: 8px; }
  header a {
    font-size: 40px;
    margin: 0;
    font-family: 'Kaushan', cursive;
    color: #df7ddf;
    text-decoration: none;
    position: relative; }
    header a:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 6px;
      height: 2px;
      width: 100%;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background: #df7ddf;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    header a:hover:before {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; }

/*==========  Page1  ==========*/
#page1 {
  background-color: #CCFFFF;
  background-image: url("https://media.giphy.com/media/f5IJmB7fiZhle/giphy.gif");
  -webkit-background-size: 40% 40%;
          background-size: 40%; }

/*==========  Page2  ==========*/
#page2 {
  background-color: pink;
  background-image: url("https://media.giphy.com/media/cOZtZNZt2yg2k/giphy.gif");
  -webkit-background-size: 40% 40%;
          background-size: 40%; }

/*==========  Page3  ==========*/
#page3 {
  background-color: #99FF66;
  background-image: url("https://media.giphy.com/media/QPb2M7Ad5KjVC/giphy.gif");
  -webkit-background-size: 40% 40%;
          background-size: 40%; }

/*==========  Page4  ==========*/
#page4 {
  background-color: #FFCC99;
  background-image: url("https://media.giphy.com/media/rbEQ5LkMhxUvm/giphy.gif");
  -webkit-background-size: 40% 40%;
          background-size: 40%; }

/*==========  Page5  ==========*/
#page5 {
  background-color: pink;
  overflow: hidden; }
  #page5 .sm-green {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #00f1c9;
    -webkit-border-radius: 12px;
            border-radius: 12px; }
  #page5 .lg-blue {
    width: 160px;
    height: 160px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-top: 320px;
    margin-left: 39px;
    background: #9999FF;
    -webkit-border-radius: 12px;
            border-radius: 12px; }
  #page5 h3 {
    padding: 0;
    margin-top: 50%;
    font-size: 68px;
    color: #FF00FF;
    font-family: 'Kaushan'; }
  #page5 .trangle {
    position: absolute;
    bottom: 160px;
    width: 0;
    height: 0;
    border-bottom: 400px solid #fcf921;
    border-left: 200px solid transparent;
    border-right: 100px solid transparent; }
  #page5 .pacman {
    position: absolute;
    right: 40px;
    bottom: 100px;
    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-top: 40px solid #D10A11;
    border-left: 40px solid #FF4040;
    border-bottom: 40px solid #FF4040;
    -webkit-border-top-left-radius: 40px;
            border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
            border-top-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
            border-bottom-left-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
            border-bottom-right-radius: 40px; }

/*==========  Page6  ==========*/
#page6 {
  height: auto;
  padding: 40px 0;
  background-color: #39EA8B; }
  #page6 .card {
    background-color: #E9E8E7;
    padding: 30px;
    margin: 15px 0;
    text-align: flow; }
  #page6 p {
    margin: 0; }
  #page6 h4 {
    font-family: 'Kaushan';
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0; }

/*==========  Last  ==========*/
#last {
  height: auto;
  background-color: #9999FF;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px; }
  #last p {
    margin: 0; }
  #last .descr {
    margin-top: 20px; }
    #last .descr i {
      font-size: 20px;
      color: red;
      margin-left: 7px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
