@import "mixins"

body
	margin: 0
a
	text-decoration: none
	outline: none
	outline-style: none
a:hover
	text-decoration: none
	outline: none
	outline-style: none
a:focus
	text-decoration: none
	outline: none
	outline-style: none
a:visited
	text-decoration: none
	outline: none
	outline-style: none
img
	display: inline-block
	max-width: 100%
	height: auto
input, textarea 
	text-decoration: none
	outline: none
	outline-style: none
	border: none
button
	background-color: transparent
	outline-style: none
	border: none
button:hover
	background-color: transparent
	outline-style: none
button:focus
	background-color: transparent
	outline-style: none
.parallax-container
	height: 100vh
	width: 100%
///Для паралакса внутри блока
///.parallax-container
///    height: 100%
///    width: 100%
.row, .row [class*='col-']
	height: 100%
.row-flex 
	display: flex
	flex-flow: row wrap
.no-gutter > [class*='col-']
	padding-right: 0
	padding-left: 0
.clearfix
	display: block
	content: ""
	clear: both
.left
	float: left
.right
	float: right
.text-center
	text-align: center
section
	height: 100vh
	width: 100%
	display: flex
	position: relative
	background-repeat: no-repeat
	background-position: center
	background-attachment: fixed
p
	font-family: 'Kaushan'
	font-size: 18px
/*==========  Slick-slider  ==========*/
.slick-slide
	outline: none !important
.slider-nav
	width: 800px
	display: flex
	justify-content: space-between
	align-items: center
	i
		font-size: 40px
		margin: 10px
		color: #000
		opacity: .75
/*==========  Header  ==========*/
header
	display: flex
	justify-content: center
	align-items: center
	height: 100vh
	width: 100%
	background-color: #222
	background-image: url("https://media.giphy.com/media/852FlWIqjq7bq/giphy.gif")
	background-attachment: fixed
	background-position: -40px 70px
	.review
		//background: #f3d5f3
		padding: 15px
		border-radius: 8px
	a
		font-size: 40px
		margin: 0
		font-family: 'Kaushan', cursive
		color: #df7ddf
		text-decoration: none
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0
			bottom: 6px
			height: 2px
			width: 100%
			border-radius: 2px
			background: #df7ddf
			transform: scale(0)
			+flow-slow(.3s)
		&:hover:before
			transform: scale(1)
			+flow-slow(.6s)
/*==========  Page1  ==========*/
#page1
	background-color: #CCFFFF
	background-image: url("https://media.giphy.com/media/f5IJmB7fiZhle/giphy.gif")
	background-size: 40%
/*==========  Page2  ==========*/
#page2
	background-color: pink
	background-image: url("https://media.giphy.com/media/cOZtZNZt2yg2k/giphy.gif")
	background-size: 40%
/*==========  Page3  ==========*/
#page3
	background-color: #99FF66
	background-image: url("https://media.giphy.com/media/QPb2M7Ad5KjVC/giphy.gif")
	background-size: 40%
/*==========  Page4  ==========*/
#page4
	background-color: #FFCC99
	background-image: url("https://media.giphy.com/media/rbEQ5LkMhxUvm/giphy.gif")
	background-size: 40%
/*==========  Page5  ==========*/
#page5
	background-color: pink
	overflow: hidden
	.sm-green
		display: inline-block
		width: 60px
		height: 60px
		background: rgb(0, 241, 201)
		border-radius: 12px
	.lg-blue
		width: 160px
		height: 160px
		align-self: center
		margin-top: 320px
		margin-left: 39px
		background: #9999FF
		border-radius: 12px
	h3
		padding: 0
		margin-top: 50%
		font-size: 68px
		color: #FF00FF
		font-family: 'Kaushan'
	.trangle
		position: absolute
		bottom: 160px
		width: 0
		height: 0
		border-bottom: 400px solid #fcf921
		border-left: 200px solid transparent
		border-right: 100px solid transparent
	.pacman
		position: absolute
		right: 40px
		bottom: 100px
		width: 0
		height: 0
		border-right: 40px solid transparent
		border-top: 40px solid #D10A11
		border-left: 40px solid #FF4040
		border-bottom: 40px solid #FF4040
		border-top-left-radius: 40px
		border-top-right-radius: 40px
		border-bottom-left-radius: 40px
		border-bottom-right-radius: 40px
/*==========  Page6  ==========*/
#page6
	height: 500px
	background-color: #39EA8B
/*==========  Last  ==========*/
#last
	height: auto
	background-color: #9999FF
	justify-content: center
	align-items: center
	flex-direction: column
	padding-bottom: 40px
	p
		margin: 0
	.descr
		margin-top: 20px
		i
			font-size: 20px
			color: red
			margin-left: 7px
			text-shadow: 0 0 10px rgba(0,0,0,0.5)